<?xml version="1.0"?>
<config>
    <modules>
        <Edge_ExportBundle>
            <version>0.1.0</version>
        </Edge_ExportBundle>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Edge_ExportBundle after="Mage_Adminhtml">Edge_ExportBundle_Adminhtml</Edge_ExportBundle>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Edge_ExportBundle>
                            <title>Productbundle Module</title>
                            <sort_order>10</sort_order>
                        </Edge_ExportBundle>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <global>
        <helpers>
            <productbundle>
                <class>Edge_ExportBundle_Helper</class>
            </productbundle>
        </helpers>
    </global>
</config>